// Right header

.RightHeader {
  position: fixed;
  right: 0;
  z-index: 1002;
  padding-top: 20px;
  padding-right: 15px;
  li {
    margin-left: 10px;
  }
  .Search {
    width: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: #f6f6f6 url(../img/search-icon.png) no-repeat 10px 8px;
    padding: 0 5px 0 30px;
    color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    line-height: 2.4;
    font-size: 14px;
    &:focus {
      width: 180px;
      border: 1px solid #f6f6f6;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #c8c8c8;
      font-weight: 300;
    }
  }
  .Dropdown {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 0px;
    background: none;
    margin-right: 0;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    font-size: 13px;
    padding-right: 8px;
    .Avatar {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      height: 33px;
    }
    a {
      color: #555555;
      text-decoration: none;
      outline: none;
    }
    ul li {
      display: block;
      padding: 10px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      font-size: 12px;
      i {
        font-size: 17px;
        padding-right: 10px;
      }
    }
  }
}
