.UserRegisterForm {
  background: #fff;
  width: 100%;
  max-width: 1024px;
  padding: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-wrap: wrap;
}
